::selection {
    color: white;
    background-color: #009688;
}

body {
    color: #ecf0f1;
    font-size: 0.8125rem;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #232333;
    /* # */
}

a,
a:hover,
.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

td {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h6 {
    font-size: inherit;
}

.bx {
    font-size: 1rem;
    vertical-align: middle;
}

.small {
    font-size: 11px;
}

/* ====================================================== Bootstrap Form Cards */
.navbar {
    background-color: #2b2c40;
    color: white;
    height: 68px;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 0.16);
    border-radius: 0.75rem;
}

.navbar .nav-link.active {
    background: linear-gradient(45deg, #5352ed, #9e61ff);
    color: white;
}

.navbar .nav-link {
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.navbar .nav-link .bx {
    font-size: 18px;
    margin-left: 4px;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
}

.navbar .nav-link:hover {
    background-color: #4d4965;
    color: white;
}

.dropdown-menu {
    background-color: #33344a;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.dropdown-item {
    font-size: 14px;
    color: inherit;
}

.sidebar {
    width: 290px;
    background-color: #2b2c40;
    min-height: 100vh;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;
}

.main-content {
    width: 100%;
    padding: 1rem;
}

/*  =====================================================   Sidebar */
.sidebar-logo {
    text-align: center;
    padding: 1rem;
    /* background-color: #ffffff1a; */
    height: 68px;
    display: grid;
    place-content: center;
    font-weight: 700;
}

.sidebar-logo a {
    font-size: 18px;
    letter-spacing: 5px;
}

.sidebar-menu .nav-link {
    opacity: 0.8;
    font-size: 12px;
    font-weight: 700;
    padding: .75rem;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem;
}

.sidebar-menu .nav-link i {
    margin-left: .5rem;
    font-size: 22px;
}

.sidebar-menu {
    padding: 1rem;
    padding-top: 0;
}

.sidebar-menu .nav-link.active,
.sidebar-menu .nav-link.active:hover {
    background: #009688;
    opacity: 1;
    color: white;
}

.sidebar-menu .nav-link:hover {
    background-color: rgb(53 54 78);
    color: white;
    opacity: 1;
}

.sidebar h6 {
    font-size: 10px;
    margin: 16px;
    color: #757189;
    position: relative;
}

.sidebar h6::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #757189;
    top: 50%;
    right: -25px;
}

.card {
    background-color: #2b2c40;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / .16);
    border-radius: 0.75rem;
}

.card-header {
    background: #4a4564;
}

.card-header h6 {
    font-weight: 600;
    line-height: 35px;
    position: relative;
}

.card-header h6::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 6px solid;
    display: inline-block;
    margin-left: 8px;
    border-color: transparent #009688 transparent transparent;
    vertical-align: middle;
}

.static-card {
    /* border-radius: 3px; */
    height: 250px;
}

.static-card .static-card-title {
    font-size: 13px;
    padding: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.static-card .static-card-title i {
    color: #8bc34a;
    font-size: 23px;
    margin-left: .5rem;
}

.downloads-chart-card {
    background: transparent;
    border: 2px dashed #585472;
}

.static-card h5 {
    font-size: 2rem;
    padding: 0 3rem;
}

.static-card p {
    font-size: 11px;
    padding: 0.5rem 1rem;
    line-height: 20px;
    opacity: 0.5;
}

.count-item {
    height: 80px;
    display: grid;
    place-content: center;
    text-align: center;
    /* background-color: #46425d; */
    border-top: 1px solid #39354a;
}

.static-card .col:nth-child(2) .count-item {
    border-right: 1px solid #413c52;
    border-left: 1px solid #413c52;
}

.count-item span {
    font-size: 10px;
}

.count-item strong {
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
}

.breadcrumb-item {
    font-size: 11px;
}

.page-breadcrumb h6 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 5px;
}

.btn {
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 3px;
}

.btn:hover {
    font-size: 12px;
}

.modal-content {
    background-color: #35364e;
    text-align: center;
}

.modal-footer {
    border: none;
    background: rgb(255 255 255 / 5%);
}

.confirm-modal .btn:not(.btn-danger) {
    background: #9E9E9E;
    border: none;
    color: white;
}

.confirm-modal .bx {
    font-size: 58px;
    color: #009688;
    margin-bottom: 1.5rem;
}

/*  =====================================================   Bootstrap Form Elements */
.form-control,
.form-select {
    background-color: transparent;
    font-size: 11px;
    border: none;
    line-height: 30px;
    color: white;
    border: 1px solid #444564;
}

select {
    -webkit-appearance: menulist-button;
}

select option {
    color: black
}


.form-control:hover,
.form-select:hover {
    border-color: #696a9b;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.5;
}

.form-check-input {
    width: 1rem;
    height: 1rem;
    margin-left: .25rem;
    font-size: 12px;
    background-color: #5f607a;
}

.form-check-input:checked {
    background-color: #009688;
    border-color: #009688;
}

label.form-check-label {
    font-size: 12px;
    cursor: pointer;
}

.form-check-input:focus,
.form-control:focus,
.form-select:focus {
    border-color: #009688 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 150 136 / 26%) !important;
}

.invalid-feedback {
    color: #FFC107;
}

.form-control.is-invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid,
.was-validated .form-control:invalid {
    border: 1px solid #FF9800 !important;
    padding-left: calc(1.5em + .75rem);
    background-image: url("../img/invalid.png") !important;
    background-repeat: no-repeat;
    background-position: left calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control.is-invalid:focus,
.form-select.is-invalid:focus,
.was-validated .form-control:invalid:focus,
.was-validated .form-select:invalid:focus {
    border-color: #FFC107;
    box-shadow: 0 0 0 0.25rem rgb(255 193 7 / 21%);
}

.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"],
.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"] {
    background-size: 16px;
}

/*  =====================================================   Bootstrap Table */
.table {
    color: white;
    background-color: #2b2c40;
    border-radius: 0.5rem;
}

.table tr {
    color: inherit;
    border-bottom: 1px solid #444564;
}

.table th {
    line-height: 25px;
    font-size: 10px;
    font-weight: 400;
    background-color: #35364e;
    font-weight: 700;
    color: #7a7aa1;
}

.table td {
    color: white !important;
    vertical-align: middle;
    padding: 1rem;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(41 38 63);
}

.table .dropdown button {
    background-color: transparent;
    border: none;
    color: white;
}

.table .dropdown i {
    color: inherit;
}

.table h6 {
    font-size: 16px;
    margin-bottom: .5rem;
}

.table h6:hover a {
    text-decoration: underline;
}

.table [class^="meta"] {
    font-size: 10px;
    opacity: 0.7;
    margin-left: 1rem;
}

.table i {
    margin-left: 0.25rem;
    color: #FF9800;
    vertical-align: top;
}

.table .dropdown .dropdown-menu {
    background-color: #41425c;
    font-size: inherit;
    border-radius: 0.5rem;
    padding: 1rem;
}

.table .dropdown .dropdown-menu .dropdown-item {
    font-size: 12px;
    color: #e2e1ed;
    line-height: 26px;
    display: flex;
    align-items: center;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

.table .dropdown .dropdown-menu .dropdown-item:hover,
.table .dropdown .dropdown-menu .dropdown-item.active,
.table .dropdown .dropdown-menu .dropdown-item:focus {
    background-color: #009688;
}

/*  =====================================================   Table Filter Element */
.table-filter-element form {
    padding: 1rem;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #232333;
    background-color: #313247;
    border-radius: 1rem 1rem 0 0;
}

.table-filter-element .dropdown .btn {
    width: 240px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255 255 255 / 6%);
    border: none;
}

.table-filter-element .filter-menu {
    width: 100%;
    font-size: 13px;
    background-color: #484361;
    overflow-y: scroll;
    padding: 1rem;
    color: white;
}

.table-filter-element .filter-menu::-webkit-scrollbar {
    width: 5px;
}

.table-filter-element .filter-menu::-webkit-scrollbar-track {
    background-color: #484361;
}

.table-filter-element .filter-menu::-webkit-scrollbar-thumb {
    background-color: #5b576f;
}

.table-filter-element .filter-menu label {
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
}

.table-filter-element .filter-menu label input {
    width: 15px;
    height: 15px;
    border-radius: 0;
    background-color: transparent;
}

.table-filter-element .filter-menu label:hover input {
    border-color: #009688;
}

.table-filter-element .form-check-input:checked {
    background-color: #009688;
    border-color: #009688;
}

.table-filter-element .form-check-input:focus {
    border-color: #009688;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(205 220 57 / 10%);
}

button#addLink {
    margin-top: 1rem;
    background-color: #607D8B;
    color: white;
    border: none;
    font-size: 11px;
    line-height: 32px;
    padding: 0 15px;
}

/*  =====================================================   Sidebar Search Form */
.sidebar-search-form form {
    position: relative;
    padding: 1rem;
    /* border-bottom: 1px solid #59546e; */
}

.sidebar-search-form form button {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    opacity: 0.5;
}

.sidebar-search-form form .form-control {
    border-radius: 0;
    font-size: inherit;
    line-height: 26px;
}

/*  =====================================================   Boostarp Pagination */
.table-pagination .page-link {
    width: 35px;
    height: 35px;
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.table-pagination .active>.page-link,
.table-pagination .page-link.active {
    background-color: #009688;
    border-radius: 50%;
    margin: 0 8px;
    border-color: #009688;
}

.table-pagination .page-item:first-child .page-link {
    display: none;
}

.table-pagination .page-item:last-child .page-link {
    display: none;
}

.table-pagination .pagination {
    margin: 0;
}

.table-pagination nav {
    padding: 1rem !important;
    background-color: #313247;
    color: white;
}

.table-pagination nav .text-muted {
    color: white !important;
}

/*  =====================================================   Updating Poster Image */
.poster-image img {
    margin-bottom: 1rem;
}

.poster-image {
    text-align: center;
    position: relative;
}

label.update-poster-label {
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.update-poster-image:hover label {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}

/*  =====================================================   Post Card */
.card.post-card {
    position: relative;
}

.card.post-card .episodes-count {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(0 0 0 /.5);
    padding: 2px 7px;
    border-radius: 3px;
    font-size: 12px;
}

.card.post-card p {
    color: #a4a5b5;
    font-size: 11px;
    line-height: 20px;
    text-align: justify;
}

.post-meta {
    display: flex;
    background-color: #404158;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: .125rem;
}

.post-card .card-body {
    background-color: #33344a;
    border-radius: 0 0 .5rem .5rem;
}

.post-card .dropdown {
    position: absolute;
    left: 10px;
    top: 10px;
}

.post-card .dropdown button {
    background-color: transparent;
    border: none;
}

.post-card .dropdown button i {
    font-size: 22px;
    color: white;
}

.post-card .dropdown-menu {
    background-color: #33344a;
    color: white;
    border-radius: 0.5rem;
    padding: 0;
}

.post-card .dropdown-item {
    font-size: 12px;
    color: inherit;
    border-bottom: 1px solid #4a4b62;
    border-top: 1px solid #212236;
    padding: .5rem .75rem;
}

.post-card .dropdown-item:hover {
    background-color: transparent;
    color: #009688;
}

.post-card .dropdown-item:nth-child(1) {
    border-top: 0;
}

.post-card .dropdown-item:last-of-type {
    border-bottom: 0;
}

/*  =====================================================   Boostarp Buttons */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3F51B5;
    --bs-btn-border-color: #3F51B5;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5466c7;
    --bs-btn-hover-border-color: #5466C7;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5466c7;
    --bs-btn-active-border-color: #5466c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3F51B5;
    --bs-btn-disabled-border-color: #3F51B5;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #009688;
    --bs-btn-border-color: #009688;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #15b5a7;
    --bs-btn-hover-border-color: #15b5a7;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #15b5a7;
    --bs-btn-active-border-color: #15b5a7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #009688;
    --bs-btn-disabled-border-color: #009688;
}

.btn-outline-success {
    --bs-btn-color: #009688;
    --bs-btn-border-color: #009688;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #009688;
    --bs-btn-hover-border-color: #009688;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #009688;
    --bs-btn-active-border-color: #009688;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #009688;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #009688;
    --bs-gradient: none;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E91E63;
    --bs-btn-border-color: #E91E63;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd4d89;
    --bs-btn-hover-border-color: #fd4d89;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd4d89;
    --bs-btn-active-border-color: #fd4d89;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E91E63;
    --bs-btn-disabled-border-color: #E91E65;
}

.btn-warning {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ffc048;
    --bs-btn-border-color: #ffc048;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dfb127;
    --bs-btn-hover-border-color: #dfb127;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dfb127;
    --bs-btn-active-border-color: #dfb127;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.text-success {
    --bs-text-opacity: 1;
    color: #009688 !important;
}
