::selection {
    color: white;
    background-color: #ff6b81;
}

body {
    color: #ecf0f1;
    font-size: 0.8125rem;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #181625;
    /* # */
}

a,
a:hover,
.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

span {
    display: inline-block;
}

td {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h6 {
    font-size: inherit;
}

.bx {
    font-size: 1rem;
    vertical-align: middle;
}

.small {
    font-size: 11px;
}

/* ====================================================== Bootstrap Form Cards */
.navbar {
    /* background-color: #3c3857; */
    color: white;
    height: 68px;
}

.navbar .nav-link.active {
    background: linear-gradient(45deg, #5352ed, #9e61ff);
    color: white;
}

.navbar .nav-link {
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.navbar .nav-link .bx {
    font-size: 18px;
    margin-left: 4px;
}

.nav-link:focus,
.nav-link:hover {
    color: white;
}

.navbar .nav-link:hover {
    background-color: #4d4965;
    color: white;
}

ul.dropdown-menu {
    background-color: #322e49;
    color: white;
    border-radius: 5px;
}

a.dropdown-item {
    font-size: 14px;
    color: inherit;
}

aside.sidebar {
    width: 290px;
    height: 100vh;
    background-color: #322e49;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;
}

main.main-content {
    width: 100%;
}

.sidebar-logo {
    text-align: center;
    padding: 1rem;
    background-color: rgb(72 67 103);
    height: 68px;
    display: grid;
    place-content: center;
}

.sidebar-logo a {
    font-size: 18px;
    letter-spacing: 5px;
}

.sidebar-menu .nav-link {
    opacity: 0.8;
    font-size: 12px;
    font-weight: 700;
    border-radius: .5rem;
    padding: .75rem;
}

.sidebar-menu .nav-link i {
    margin-left: .5rem;
    font-size: 22px;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar-menu .nav-link.active {
    background: linear-gradient(45deg, #009688, #CDDC39);
    opacity: 1;
}

.sidebar-menu .nav-link:hover {
    background-color: rgb(61 58 87);
    color: white;
    opacity: 1;
}

.sidebar h6 {
    font-size: 10px;
    margin: 16px;
    color: #757189;
    position: relative;
}

.sidebar h6::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #757189;
    top: 50%;
    right: -25px;
}

.card {
    background-color: #322e49;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.table {
    color: white;
    background-color: #322e49;
    border-radius: 0.5rem;
}

.table tr {
    border-color: #322e49;
    color: inherit;
}

.table td {
    color: white !important;
    vertical-align: middle;
    padding: 1rem;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: rgb(41 38 63);
}

.static-card {
    border-radius: 3px;
    height: 250px;
}

.static-card .static-card-title {
    font-size: 13px;
    padding: 16px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.static-card .static-card-title i {
    color: #8bc34a;
    font-size: 23px;
    margin-left: .5rem;
}

.downloads-chart-card {
    /* background: linear-gradient(45deg, #CDDC39, #009688); */
    background: transparent;
    border: 2px dashed #585472;
}

.static-card h5 {
    font-size: 2rem;
    padding: 0 3rem;
}

.static-card p {
    font-size: 11px;
    padding: 0.5rem 1rem;
    line-height: 20px;
    opacity: 0.5;
}

.count-item {
    height: 80px;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #46425d;
    border-top: 1px solid #605c72;
}

.static-card .col:nth-child(2) .count-item {
    border-right: 1px solid #605c72;
    border-left: 1px solid #605c72;
}

.count-item span {
    font-size: 10px;
}

.count-item strong {
    font-size: 18px;
    margin-top: 4px;
    font-weight: 500;
}

.breadcrumb-item {
    font-size: 11px;
}

.page-breadcrumb h6 {
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 5px;
}

.btn-primary {
    background: linear-gradient(45deg, #3F51B5, #9C27B0);
    border: none;
}

.btn-success {
    background: linear-gradient(45deg, #009688, #8BC34A);
    border: none;
}

.btn-danger {
    background: linear-gradient(45deg, #F44336, #9C27B0);
    border: none;
}

.btn-sm {
    font-size: 12px;
    padding: .5rem 1rem;
}

.filter-form-card {
    background-color: #322e49;
    padding: 1rem;
    border-radius: 0.5rem;
}

.filter-form-card .dropdown-toggle {
    background-color: #484361;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-radius: 2px;
    margin-bottom: 1rem;
    line-height: 28px;
    color: #f5f3ff;
    border: none;
}

.filter-form-card h6 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #484361;
    padding-bottom: 1rem;
}

.filter-form-card {
    background-color: #322e49;
    padding: 1rem;
    border-radius: 0.5rem;
}

.filter-form-card .dropdown-toggle {
    background-color: #484361;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    border-radius: 2px;
    margin-bottom: 1rem;
    line-height: 28px;
    color: #f5f3ff;
    border: none;
}

.filter-form-card h6 {
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 1px solid #484361;
    padding-bottom: 1rem;
}

.filter-form-card .filter-menu {
    width: 100%;
    font-size: 13px;
    background-color: #484361;
    overflow-y: scroll;
    padding: 1rem;
    color: white;
}

.filter-form-card .filter-menu::-webkit-scrollbar {
    width: 5px;
}

.filter-form-card .filter-menu::-webkit-scrollbar-track {
    background-color: #484361;
}

.filter-form-card .filter-menu::-webkit-scrollbar-thumb {
    background-color: #5b576f;
}

.filter-form-card .filter-menu label {
    padding: 6px;
    font-size: 12px;
    cursor: pointer;
}

.filter-form-card .filter-menu label input {
    width: 15px;
    height: 15px;
    border-radius: 0;
    background-color: transparent;
}

.filter-form-card .filter-menu label:hover input {
    border-color: #CDDC39;
}

.filter-form-card .form-check-input:checked {
    background-color: #8BC34A;
    border-color: #CDDC39;
}

.filter-form-card .form-check-input:focus {
    border-color: #CDDC39;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(205 220 57 / 10%);
}
