::selection {
    color: white;
    background-color: #ff6b81;
}

body {
    color: #ecf0f1;
    font-size: 0.8125rem;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #181625;
    /* # */
}

a,
a:hover,
.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

span {
    display: inline-block;
}

td {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h6 {
    font-size: inherit;
}

.bx {
    font-size: 1rem;
    vertical-align: middle;
}

.small {
    font-size: 11px;
}

/* ====================================================== Bootstrap Form Cards */
.card {
    margin-bottom: 1.5rem;
    border: none;
    background-color: #29263d;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 3%);
}

.card-body {
    padding: 1.5rem;
}

.card-header {
    border-color: #e8e5e5;
    background-color: transparent;
    padding: 1rem;
}

.card-header+.card-body {
    padding-top: 0;
}

.card-header h6 {
    font-size: 0.85rem;
    font-weight: 700;
}

/* ====================================================== Bootstrap Form Classes */
.form-control,
.form-select {
    border-radius: 4px;
    border-color: #e8e5e5;
    line-height: 1.75rem;
    font-size: inherit;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #5352ed;
    outline: 0;
    box-shadow: none;
}

.form-label {
    font-size: 12px;
    font-weight: 700;
    color: #747d8c;
}

[dir="rtl"] [type=email],
[type=number],
[type=tel],
[type=url] {
    direction: rtl;
}

.form-check-input:checked {
    background-color: #5352ed;
    border-color: #5352ed;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input {
    width: 14px;
    height: 14px;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(83 82 237 / 25%);
}

/* ====================================================== Bootstrap Dropdown */
.navbar-nav .nav-link.active,
.nav-link:focus,
.nav-link:hover {
    color: #00BCD4;
}

.dropdown-menu {
    background-color: rgb(30 30 43 / 50%);
    border: 1px solid #009688;
    color: white;
    padding: 0;
    width: 200px;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus {
    color: #00BCD4;
    background-color: transparent;
    padding-right: 1.25rem;
}

a.dropdown-item {
    color: inherit;
    padding: 0.75rem 1rem;
    border-bottom: 1px dashed #414447;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s ease;
}

/* ====================================================== Bootstrap Form Buttons */
.btn {
    border: none;
}

.btn-sm {
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 12px;
}

.btn-sm:hover {
    font-size: 0.75rem;
}

.btn-success {
    background: linear-gradient(45deg, #1abc9c 25%, #3498db);
}

.btn-success:hover {
    background: linear-gradient(45deg, #3498db 25%, #1abc9c);
}

.btn-primary {
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
}

.btn-primary:hover {
    font-size: 0.75rem;
    background: linear-gradient(45deg, #9e61ff, #5352ed);
}

/* ====================================================== Custom Classess */
.absolute-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    border-color: #ddd !important;
}

.border-dashed {
    border-style: dashed !important;
}

/* ====================================================== Confirm Deletion Modal */
.confirm-modal .modal-dialog {
    max-width: 35% !important;
}

.confirm-modal .modal-content {
    border-radius: 5px;
    text-align: center;
}

.confirm-modal .modal-footer {
    justify-content: center;
    border: none;
}

.confirm-modal .bx {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    color: #c9d1d9;
}

/* ====================================================== Confirm Deletion Modal */
form.position-relative button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 50px;
    color: #858484;
    pointer-events: none;
}

.filter-widget form {
    padding: 1.25rem;
    border: 2px dashed #d1d1d1;
    margin-bottom: 1.25rem;
}

.filter-box .dropdown button {
    width: 100%;
    display: block;
    background-color: transparent;
    color: red;
    text-align: right;
    line-height: 2rem;
}

/* ====================================================== Website: Navbar */
.navbar:not(.dashboard-nav-menu) {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
    transition: 0.3s;
}

.navbar.wide {
    background: #2e2a47;
    z-index: 99;
}

.navbar.hide {
    transform: translateY(-100px);
}

.navbar.wide .nav-link.active {
    background-color: white;
    border-radius: 3px;
    color: #009688;
    font-size: 13px;
}

.navbar.wide .btn-success {
    background: #FF9800;
}

/* ====================================================== Website: Slider Post Trailer */
.slider-post-trailer {
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 61%);
    position: relative;
}

.slider-post-trailer::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #181625, transparent);
    height: 200px;
    z-index: 1;
}

.slider-post-trailer .carousel {
    position: relative;
    height: 100vh;
    background-color: #000;
}

.slider-post-trailer .carousel-item {
    height: 100vh;
    background-color: #000;
}

.slider-post-trailer .slide-post-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    width: 40%;
    z-index: 2;
}

.slide-post-content .meta-category {
    background: linear-gradient(to top, #FF9800, #FFC107);
    padding: 3px 7px;
    border-radius: 2px;
    font-size: 10px;
}

.slider-post-trailer .slide-post-content p {
    line-height: 24px;
    text-align: justify;
    opacity: 0.8;
}

.slider-post-trailer .slide-post-content h2 {
    margin: 1rem 0;
    font-weight: bold;
}

.slider-post-trailer .post-meta>span {
    font-size: 13px;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
}

.slider-post-trailer .meta-quality {
    border: 1px solid white;
}

span.meta-quality {
    font-size: 11px !important;
    padding-left: 6px;
    line-height: 20px;
    font-weight: 700;
}

span.meta-quality>span {
    background-color: white;
    color: #000;
    padding: 0 .5rem;
    margin-left: .5rem;
    font-weight: 400;
}

.slider-post-trailer .btn-primary:hover {
    background: linear-gradient(45deg, #3F51B5, #009688);
}

.slider-post-trailer .btn>i {
    font-size: 24px;
    margin-left: .25rem;
}

.slider-post-trailer .btn-outline-primary {
    border-color: #1a95a7;
    color: white;
    font-size: 13px;
}

.slider-post-trailer .btn-outline-primary:hover {
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
    color: white;
}

.slider-post-trailer .trailer-video video {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    width: 100%;
}

.slider-post-trailer span.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background: linear-gradient(45deg, transparent 30%, #181625);
}

.slider-post-trailer .indicator-image {
    width: 100px;
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

.slider-post-trailer .indicator-image img {
    width: 100%;
    filter: grayscale(1);
    opacity: 0.3;
}

.slider-post-trailer .indicator-image:hover,
.slider-post-trailer .indicator-image.active {
    transform: translateY(-10px);
}

.slider-post-trailer .indicator-image:hover img,
.slider-post-trailer .indicator-image.active img {
    filter: grayscale(0);
    opacity: 1;
}

.slider-post-trailer .indicators {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

/* ====================================================== Website: Login Page */
.auth-login-form {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    position: relative;
}

.auth-login-form::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/cinema.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    filter: blur(5px);
}

.auth-login-form img {
    margin: 30px auto;
    display: block;
}

.auth-login-form label {
    color: white;
    font-size: 10px;
    margin-bottom: 1rem;
}

.auth-login-form label.form-check-label {
    font-size: 12px;
}

.auth-login-form .form-control {
    background-color: transparent;
    border: 1px solid #009688;
    color: white;
}

.auth-login-form button {
    background: linear-gradient(45deg, #009688, #8BC34A);
    font-size: 12px;
    border-radius: 2px;
    padding: 8px 16px;
}

/* ====================================================== Website: Post */
.post {
    position: relative;
    height: 370px;
    border-radius: 1rem;
    overflow: hidden;
}

.post .post-thumbnail {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
}

.post:hover .post-thumbnail {
    transform: scale(1.2);
    filter: grayscale(1);
}

.post .post-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to top, #000000 15%, transparent);
}

.post .post-title {
    font-size: 16px;
    font-weight: 700;
    margin: 0.25rem 0;
}

.post .post-title a {
    background: linear-gradient(45deg, #fff, #fff);
    background-position: right bottom;
    background-size: 0 1px;
    background-repeat: no-repeat;
    transition: 0.3s;
    line-height: 1.75;
}

.post .post-title a:hover {
    background-size: 100% 1px;
}

.post .post-meta {
    display: flex;
    align-items: center;
}

.post .meta {
    display: inline-block;
    font-size: 11px;
}

.post .meta-category {
    background-color: #009688;
    padding: 2px 8px;
    border-radius: 2px;
}

.post .meta-quality {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(0 0 0 / .5);
    font-size: 11px;
    padding: 2px 8px;
    border-radius: 2px;
    line-height: 15px;
}

.post .play-overlay {
    display: grid;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.post:hover .play-overlay {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.post .play-overlay i {
    font-size: inherit;
    z-index: 1;
}

.post .play-overlay::before,
.post .play-overlay::after {
    content: '';
    position: absolute;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 50%;
    transition: 0.3s ease;
    width: 100%;
    height: 100%;
}

.post .play-overlay::before {
    animation: pulse 2s infinite ease-out;
}

.post .play-overlay::after {
    animation: pulse 2s 1s infinite ease-out;
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

/* ====================================================== Website: Section */
.section-header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.section-header h3 {
    font-size: 18px;
}

.section-header span {
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    border-radius: 100%;
    font-size: 22px;
    margin-left: 1rem;
}

.section-header span i {
    font-size: inherit;
}

.section-header a.load-more {
    margin-right: auto;
}

.section-header a.load-more i {
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.section-header a.load-more:hover>i {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.news-section {
    padding: 2rem;
}

.news-section h6 {
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.news-section p {
    opacity: 0.5;
    font-size: 12px;
    line-height: 23px;
}

.news-section h6 a {
    background: linear-gradient(to bottom, #5352ed, #198754);
    background-repeat: no-repeat;
    background-size: 0 2px;
    background-position: right 100%;
    transition: 0.3s ease;
    line-height: 30px;
}

.news-section h6 a:hover {
    background-size: 100% 2px;
}

.filter-content-bar {
    padding: 1.5rem 0;
    margin-bottom: 1rem;
}

.filter-content-bar .filter-item {
    padding: .25rem 1rem;
    background-color: #181625;
    border-radius: 50px;
    margin-left: 4px;
    background-color: #4a4763;
    font-size: 12px;
}

.filter-item.active {
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
    border: none;
}

.filter-content-bar .filter-item:hover {
    background: linear-gradient(45deg, #607D8B, #9E9E9E);
}

.post.inner-post-effect .post-content p {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.6;
}

.post.inner-post-effect .post-content .btn {
    font-size: 12px;
    margin-top: auto;
    color: white;
    border: 1px solid white;
}

.post.inner-post-effect .post-content .btn:hover {
    background: linear-gradient(45deg, #673AB7, #00BCD4);
    border-color: #00BCD4;
}

.post.inner-post-effect .post-content>div {
    display: flex;
    margin-bottom: 11px;
    justify-content: space-around;
    width: 100%;
}

.page-link:hover,
.page-link:focus {
    z-index: 2;
    color: white;
    background-color: #009688;
    border-color: #009688;
}

a.page-link {
    background-color: transparent;
    border: none;
    color: white;
    font-size: inherit;
    border-radius: 100%;
    margin: 0 .75rem;
}

.page-item:not(:first-child) .page-link {
    margin-right: -1px;
}

.page-item:first-child .page-link {
    display: none;
}

.page-item:last-child .page-link {
    display: none;
}

.pagination {
    margin: 1rem 0;
    justify-content: end;
}

footer.footer {
    background: #242137;
    padding: 1rem 0;
}

.footer .logo {
    text-align: center;
}

.footer .social-items {
    text-align: center;
}

.footer .social-items a {
    display: inline-block;
    width: 35px;
    text-align: center;
}

.footer .main-pages {
    text-align: center;
}

.footer .main-pages a {
    display: inline-block;
    margin: 0.5rem 1rem;
}

.footer .rights {
    text-align: center;
    font-size: 11px;
}


.back-to-top {
    display: inline-block;
    background: linear-gradient(45deg, #009688, #CDDC39);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    line-height: 45px;
}

.back-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

.back-to-top:active {
    background-color: #555;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}

.back-to-top i {
    font-size: 22px;
}

.tooltip {
    --bs-tooltip-bg: #4CAF50;
}

.filter-form-card .dropdown button {
    background-color: transparent !important;
    font-size: inherit;
    padding: .75rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #464357;
    border-radius: 0;
    border-top: 1px solid #464357;
    margin: 0;
}

section.single-post-section {
    margin: 4rem 0;
    padding: 4rem 0;
}

.single-post-section .row span {
    line-height: 1rem;
    margin: .5rem 0;
    font-size: 12px;
}

.single-post-section .row span i {
    color: #009688;
    margin-left: .5rem;
}

span.actor-badge {
    display: inline-block;
    padding: .25rem .75rem;
    background-color: #2d2b3b;
    border-radius: 50px;
}

h6.sub-section-title {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgb(255 255 255 / .25);
}

h6.sub-section-title i {
    color: #009688;
}

span.movie-tag {
    font-size: 11px !important;
    position: relative;
}

span.movie-tag:not(:last-child)::after {
    content: 'ØŒ';
    display: inline-block;
    margin-right: 5px;
}

.single-post-section .btn {
    font-size: 11px;
    color: white;
    border-radius: 60px;
}

.single-post-section .btn:first-of-type {
    background-color: #2196F3;
}

.single-post-section .btn:last-of-type {
    background-color: green;
    margin-right: .5rem;
}

.votes {
    font-size: 12px;
    margin-right: 1rem;
}

.votes span {
    margin-right: .5rem;
}

.votes i {
    font-size: 15px;
    display: inline-block;
    margin: 0 -2px;
}

h6.sub-section-title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #009688;
    bottom: -3px;
    right: 29px;
    border-radius: 10px;
}

.single-post-section p {
    font-size: 13px;
    line-height: 23px;
}

.socials-card {
    padding: 1.5rem;
    background-color: rgb(255 255 255 / 6%);
    border-radius: .5rem;
}