::selection {
    color: white;
    background-color: #ff6b81;
}

body {
    color: #ecf0f1;
    font-size: 0.8125rem;
    font-family: "Noto Kufi Arabic", sans-serif;
    background-color: #000;
    /* # */
}

a,
a:hover,
.nav-link {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
}

span {
    display: inline-block;
}

td {
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

h6 {
    font-size: inherit;
}

.bx {
    font-size: 1rem;
    vertical-align: middle;
}

.small {
    font-size: 11px;
}

/* ====================================================== Bootstrap Form Cards */
.card {
    margin-bottom: 1.5rem;
    border: none;
    background-color: white;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 3%);
}

.card-body {
    padding: 1.5rem;
}

.card-header {
    border-color: #e8e5e5;
    background-color: transparent;
    padding: 1rem;
}

.card-header+.card-body {
    padding-top: 0;
}

.card-header h6 {
    font-size: 0.85rem;
    font-weight: 700;
}

/* ====================================================== Bootstrap Form Classes */
.form-control,
.form-select {
    border-radius: 4px;
    border-color: #e8e5e5;
    line-height: 1.75rem;
    font-size: inherit;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #5352ed;
    outline: 0;
    box-shadow: none;
}

.form-label {
    font-size: 12px;
    font-weight: 700;
    color: #747d8c;
}

[dir="rtl"] [type=email],
[type=number],
[type=tel],
[type=url] {
    direction: rtl;
}

.form-check-input:checked {
    background-color: #5352ed;
    border-color: #5352ed;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input {
    width: 14px;
    height: 14px;
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(83 82 237 / 25%);
}

/* ====================================================== Bootstrap Dropdown */
.navbar-nav .nav-link.active,
.nav-link:focus,
.nav-link:hover {
    color: rgb(26 188 156);
}

.dropdown-menu {
    background-color: #000000;
    border: 1px solid #1abc9c;
    color: white;
    padding: 0;
    width: 200px;
}

.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus {
    color: #1abc9c;
    background-color: transparent;
    padding-right: 1.25rem;
}

a.dropdown-item {
    color: inherit;
    padding: 0.75rem 1rem;
    border-bottom: 1px dashed #414447;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s ease;
}

/* ====================================================== Bootstrap Form Buttons */
.btn {
    border-radius: 3px;
    font-size: .75rem;
}

.btn-sm {
    font-size: 11px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #16a085;
    --bs-btn-hover-border-color: #16a085;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1abc9c;
    --bs-btn-active-border-color: #1abc9c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1abc9c;
    --bs-btn-disabled-border-color: #1abc9c;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff4757;
    --bs-btn-border-color: #ff4757;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d63d4a;
    --bs-btn-hover-border-color: #d63d4a;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff4757;
    --bs-btn-active-border-color: #ff4757;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ff4757;
    --bs-btn-disabled-border-color: #ff4757;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5352ed;
    --bs-btn-border-color: #5352ed;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4141b6;
    --bs-btn-hover-border-color: #4141b6;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5352ed;
    --bs-btn-active-border-color: #5352ed;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5352ed;
    --bs-btn-disabled-border-color: #5352ed;
}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #57606f;
    --bs-btn-border-color: #57606f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #414752;
    --bs-btn-hover-border-color: #414752;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #57606f;
    --bs-btn-active-border-color: #57606f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #57606f;
    --bs-btn-disabled-border-color: #57606f;
}


/* ====================================================== Custom Classess */
.absolute-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border {
    border-color: #ddd !important;
}

.border-dashed {
    border-style: dashed !important;
}

/* ====================================================== Confirm Deletion Modal */
.confirm-modal .modal-dialog {
    max-width: 35% !important;
}

.confirm-modal .modal-content {
    border-radius: 5px;
    text-align: center;
}

.confirm-modal .modal-footer {
    justify-content: center;
    border: none;
}

.confirm-modal .bx {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    color: #c9d1d9;
}

/* ====================================================== Confirm Deletion Modal */
form.position-relative button {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 50px;
    color: #858484;
    pointer-events: none;
}

.filter-widget form {
    padding: 1.25rem;
    border: 2px dashed #d1d1d1;
    margin-bottom: 1.25rem;
}

.filter-box .dropdown button {
    width: 100%;
    display: block;
    background-color: transparent;
    color: red;
    text-align: right;
    line-height: 2rem;
}

/* ====================================================== Website: Navbar */
.navbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;
}

/* ====================================================== Website: Slider Post Trailer */
.slider-post-trailer {
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 61%);
    position: relative;
}

.slider-post-trailer::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, #000, transparent);
    height: 240px;
    z-index: 1;
}

.slider-post-trailer .carousel {
    position: relative;
    height: 100vh;
    background-color: #000;
}

.slider-post-trailer .carousel-item {
    height: 100vh;
    background-color: #000;
}

.slider-post-trailer .slide-post-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    width: 40%;
}

.slider-post-trailer .slide-post-content p {
    line-height: 24px;
    text-align: justify;
    opacity: 0.8;
}

.slider-post-trailer .slide-post-content h2 {
    margin: 1rem 0;
    font-weight: bold;
}

.slider-post-trailer .post-meta>span {
    font-size: 13px;
    margin-left: 1rem;
    display: inline-flex;
    align-items: center;
}

span.meta-quality>span {
    background-color: white;
    color: #000;
    padding: 0 .5rem;
    margin-left: .5rem;
}

.slider-post-trailer .btn {
    padding: .75rem 1.5rem;
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: 14px;
}

.slider-post-trailer .btn>i {
    font-size: 24px;
    margin-left: .25rem;
}

.slider-post-trailer .btn-primary {
    border-color: #1abc9c;
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
}

.slider-post-trailer .btn-primary:hover {
    background: linear-gradient(45deg, #1a4cbc 25%, #1abc9c);
}

.slider-post-trailer .btn-outline-primary {
    border-color: #1a95a7;
    color: white;
    font-size: 13px;
}

.slider-post-trailer .btn-outline-primary:hover {
    background: linear-gradient(45deg, #1abc9c 25%, #1a4cbc);
    color: white;
}

.slider-post-trailer .trailer-video video {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
    width: 100%;
}

.slider-post-trailer span.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(7px);
    background: linear-gradient(45deg, transparent 30%, #000);
}

.slider-post-trailer .indicator-image {
    width: 100px;
    overflow: hidden;
    height: 100px;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

.slider-post-trailer .indicator-image img {
    width: 100%;
    filter: grayscale(1);
    opacity: 0.3;
}

.slider-post-trailer .indicator-image:hover,
.slider-post-trailer .indicator-image.active {
    transform: translateY(-10px);
}

.slider-post-trailer .indicator-image:hover img,
.slider-post-trailer .indicator-image.active img {
    filter: grayscale(0);
    opacity: 1;
}

.slider-post-trailer .indicators {
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}

/* ====================================================== Website: Global Post Meta Tags */
span.meta-rate {
    display: inline-block;
}

span.meta-rate i {
    color: white;
    margin-left: 4px;
    font-size: 18px;
    vertical-align: top;
}

span.meta-category {
    background: linear-gradient(45deg, #FFC312, #EE5A24);
    padding: 6px 8px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: .5rem;
    cursor: pointer;
}

span.meta-category:hover {
    background: linear-gradient(45deg, #EE5A24, #FFC312);
}

span.meta-quality {
    border: 1px solid;
    padding-left: .5rem;
}

.post-thumbnail>a {
    position: absolute;
    width: 50%;
    background: linear-gradient(45deg, #1abc9c, #3771e0);
    bottom: 30px;
    padding: 8px 10px;
    text-align: center;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}

.post-thumbnail {
    position: relative;
    background-color: red;
    border-radius: 1.25rem;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
}

span.play-overlay {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
}

span.play-overlay i {
    font-size: inherit;
}

.post {
    position: relative;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
}

.post-thumbnail>a {
    position: absolute;
    width: 50%;
    background: linear-gradient(45deg, #1abc9c, #3771e0);
    bottom: 20px;
    padding: 10px 10px;
    text-align: center;
    border-radius: 7px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    transition: 0.3s;
    opacity: 0;
}

.post:hover .post-thumbnail>a {
    bottom: 30px;
    opacity: 1;
}

.post-thumbnail {
    position: relative;
    background-color: red;
    border-radius: 1.25rem;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
}

.post {
    position: relative;
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
}

.post-content>a {
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
    display: block;
}

.post-content div {
    display: flex;
    justify-content: space-evenly;
    margin: 8px 0;
}

.post-content {
    text-align: center;
}

span.play-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 58px;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: 0.3s;
}

.post:hover span.play-overlay {
    opacity: 1;
    top: 30%;
}

span.play-overlay i {
    font-size: inherit;
}

span.play-overlay::before,
span.play-overlay::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 30%);
    border-radius: 100%;
    z-index: -1;
}

span.play-overlay::before {
    animation: pulse 2s infinite ease-out;
}

span.play-overlay::after {
    animation: pulse 2s 1s infinite ease-out;
}

@keyframes pulse {
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.section-header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
}

.section-header h3 {
    font-size: 18px;
}

.section-header span {
    background: linear-gradient(#1abc9c, #1a57b9);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    border-radius: 100%;
    font-size: 22px;
    margin-left: 1rem;
}

.section-header span i {
    font-size: inherit;
}
